.funcionalidades {
	margin-top: 40px;
  background-color : aqua;
  border-radius: 30px;
  text-align: center;
}

.funcionalidades h2 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 20px;
}

.funcionalidades ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.funcionalidades li {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 10px;
}

.presentacion {
	text-align: center;
  background-color: aquamarine;
  border-radius: 30px;
  padding-top: 5px;
  margin-top: 5px;
  padding-bottom: 8px;

}

.presentacion h2 {
	font-size: 2rem;
	margin-top: 0;
}

.presentacion p {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 40px;
}