<main>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Bienvenidos a nuestro sitio web</h1>
        <p class="lead">
          Somos una empresa dedicada a la elaboración de finiquitos. Si
          necesitas calcular tu finiquito de forma rápida y sencilla, estás en
          el lugar adecuado.
        </p>
        <a routerLink="/finiquito" class="btn btn-primary"
          >Calculadora de finiquitos</a
        >
      </div>
      <div class="col-md-6">
         <img
          src="./assets/fotoHome.jpg"
          class="img-fluid mt-4"
          alt="Imagen de la calculadora"
          width="auto"
          height="auto"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h1 class="text-center">Cuestiones previas al calculo del finiquito</h1>
        <p class="lead mt-3">
          El finiquito puede derivarse de un despido (conlleve o no
          indemnización), de la finalización de un contrato laboral o de una
          renuncia voluntaria. En cualquiera de estas tres situaciones, tienes
          derecho a finiquito. El documento de saldo y finiquito es un escrito
          que se entrega al trabajador cuando finaliza su relación laboral con
          la empresa. En él vienen reflejadas todas aquellas cantidades que este
          tiene derecho a percibir en la fecha de efectos establecida. Y, por
          tanto, a que la empresa le liquide. Por este motivo, es indiferente
          hablar cálculo de liquidación o finiquito. Son sinónimos en el
          lenguaje laboral. Por el contrario, la indemnización solamente se da
          cuando hay un despido -excepto si se trata de uno disciplinario y
          procedente-. Pero incluso en esa circunstancia, se tendrá que
          percibir, además, el debido finiquito. Por tanto, sí existe también el
          finiquito por despido, aparte de la indemnización. No obstante,
          también hay ciertas indemnizaciones (no muy elevadas) que se pagan en
          casos muy determinados donde no ha habido ningún despido.
        </p>
      </div>
    </div>
  </div>
</main>
