<div>
  <section class="presentacion">
    <h2>Bienvenidos a nuestra calculadora de finiquitos</h2>
    <p>
      ¿Estás por finalizar un contrato de trabajo y necesitas calcular tu
      finiquito? ¡No te preocupes! Con nuestra calculadora podrás obtener una
      estimación rápida y precisa de tu finiquito.
    </p>
    <a routerLink="/finiquito" class="btn btn-primary">Ir a la calculadora</a>
  </section>

  <section class="funcionalidades">
    <h2>Funcionalidades de la calculadora</h2>
    <ul>
      <li>Calcula tu finiquito de forma rápida y precisa.</li>
      <li>
        Incluye cálculos de paga extra, vacaciones no gozadas, entre otros.
      </li>
      <li>Obtén una estimación clara y detallada de tu finiquito.</li>
    </ul>
  </section>
</div>
